//
// セクションのタイトルのスタイル
//

.section-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    margin: 9rem 0 3rem;
    line-height: 1;
    text-align: center;
    @media (min-width:769px) {
        font-size: 6rem;
        margin: 16rem 0 6rem;
    }
}