//
// フッターのスタイル
//

.footer {
    margin-top: 12rem;
}

.footer-sns {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    a {
        display: inline-block;
        margin: 0;
        font-size: 4rem;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        text-align: center;
        line-height: 6.5rem;
        color: $navy;
    }
}

.copyright {
    display: block;
    margin: 4rem 0 2rem;
    text-align: center;
}

// PC表示
@media (min-width:769px) {
    .footer {
        margin-top: 20rem;
    }
    .footer-sns {
        width: 40rem;
        margin: 0 auto;
        a {
            transition: all 0.3s ease;
        }
        a:hover {
            opacity: 0.8;
        }
    }
    .copyright {
        font-size: 1.4rem;
    }
}