//
// サイトトップのインフォメーションのスタイル
//

// ヒーローエリア
.hero-area {
    width: 100%;
    // フェス情報
    .fes-info {
        width: 21rem;
        position: absolute;
        top: 14rem;
        left: 50%;
        z-index: 50;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        @media (min-width:769px) {
            top: 25rem;
            width: 43rem;
        }
    }
    // メインビジュアル
    .main-visual {
        position: relative;
        margin-top: 10rem;
        width: 100%;
        height: 23rem;
        .bird {
            position: absolute;
            top: 3rem;
            right: 2rem;
            width: 10rem;
            animation: hovering 4s ease 0s infinite; // ホバリング風アニメーション
            -webkit-animation: hovering 4s ease 0s infinite;
        }
        @keyframes hovering {
            0% , 100% {
                transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
            }
            50% {
                transform: translate(0, -2rem);
                -webkit-transform: translate(0, -2rem);
            }
        }
        .palm-tree {
            position: absolute;
            bottom: 0;
            left: -3rem;
            width: 18rem;
        }
        .leaf-left {
            position: absolute;
            bottom: 0;
            left: 2.4rem;
            width: 4rem;
        }
        .leaf-right {
            position: absolute;
            bottom: 0;
            right: 2rem;
            width: 4rem;
            transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
        }
    }
    // PCメインビジュアル
    @media (min-width:769px) {
        .main-visual {
            margin: 16rem auto 0;
            height: 46rem;
            width: 80rem;
            .bird {
                width: 16rem;
                top: 6rem;
                right: 5rem;
            }
            .palm-tree {
                width: 45rem;
                left: -10rem;
            }
            .leaf-left {
                width: 8rem;
            }
            .leaf-right {
                width: 8rem;
            }
        }
    }
}

// ラインナップ
.line-up {
    margin: 0 2rem;
    padding: 2rem;
    position: relative;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    .line-up-title {
        font-size: 4rem;
        font-weight: 700;
        margin: 0 0 1.5rem;
        line-height: 1;
    }
    .artist-name1 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3.6rem;
        margin: 0 0 0.4rem;
    }
    .artist-name2 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 3rem;
        margin: 0 0 1.5rem;
    }
    .and-more {
        font-size: 1.6rem;
        font-weight: 600;
        margin: 0;
        line-height: 1;
    }
    // 枠線のグラデーション
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 10px;
        border: 4px solid transparent;
        background-image: linear-gradient(90deg, $light-blue, $green);
        background-origin: border-box;
        background-clip: border-box;
        -webkit-mask: linear-gradient($white 0 0) padding-box, linear-gradient($white 0 0) border-box;
        -webkit-mask-composite: destination-out;
        mask: linear-gradient($white 0 0) padding-box, linear-gradient($white 0 0) border-box;
        mask-composite: exclude;
    }
}

// PCラインナップ
@media (min-width:769px) {
    .line-up {
        max-width: 80rem;
        padding: 4rem 8rem;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .line-up-title {
        font-size: 8rem;
        margin-bottom: 3rem;
    }
    .artist-name1 {
        font-size: 4.8rem;
    }
    .artist-name2 {
        font-size: 3.6rem;
        margin: 0;
    }
    .and-more {
        font-size: 3.2rem;
    }
}

// ラインナップ下のチケットボタン
.info-ticket-btn {
    display: block;
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    width: 27.5rem;
    height: 9rem;
    line-height: 9rem;
    border-radius: 10px;
    text-align: center;
    margin: 4rem auto 0;
    box-sizing: border-box;
    box-shadow: 0.5rem 0.5rem $white;
    @media (min-width:769px) {
        margin-top: 6rem;
        transition: all 0.2s ease;
    }
}
.info-ticket-btn:hover {
    transform: translate(0.5rem, 0.5rem);
    box-shadow: none;
    opacity: 0.8;
}